body{
  font-family: Karla, sans-serif;
}

a, a:link, a:visited, a:hover, a:active{
  color: #0f61b3;
}
a:hover{
  text-decoration: none;
}
a:active{
  color: #1d8eff;
}

#site-header{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;

  padding: 20px 20px;

  background: url(../images/ana.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  .overlay{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,.6);
  }

  h1, p, li, ul, div{
    z-index: 10;
    color: #FFF;
    text-align: center;
  }

  h1{
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.2;

    .sub{
      // color: #173a7e;
      text-transform: none;
      color: #FFF;
      font-size: .5em;
    }
  }

  p{
    margin: 0 0;
    padding: 0 0;
    font-size: 22px;
    line-height: 1.5;
  }

  ul{
    font-size: 22px;
    margin: 0em 0 0em 2em;
  }
  li{
    text-align: left;
  }

  .list{
    margin-top: 40px;

    p{
      text-align: left;
    }
  }
}

#site-content{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 60px 20px 60px 20px;

  p{
    font-size: 22px;
    color: #444;
    width: 700px;
    max-width: 100%;
    line-height: 1.5;
    border-left: solid 2px #CCC;
    padding-left: 20px;
  }
}

#site-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: #222;
  color: #FFF;
  font-size: 14px;
  padding: 10px;

  a, a:link, a:visited, a:hover, a:active{
    color: #FFF;
  }
  a:hover{
    text-decoration: none;
  }
}
